@model Xyperico.Authentication.User
@using Xyperico.Web.Mvc
<div id="account-box">
@if (User.Identity.IsAuthenticated)
{
  using (Html.BeginForm("logout", "login", new { area = "account" }))
  {
    <span>@Html.Format(_.Account.Welcome_p0, Model.UserName)</span>
    @Html.AntiForgeryToken()
    <input type="submit" value="@_.Account.Log_out" />
  }
}
else
{
  <text>
  @Html.ActionLink(_.Account.Log_in, "show", "login", new { area = "account" }, null)
  | @Html.ActionLink(_.Account.Register, "register", "registration")
  </text>
}
</div>