@model Xyperico.Authentication.Web.Areas.Account.Models.RegisterUnknownExternalModel
@using Xyperico.Web.Mvc.Html
@{
  ViewBag.Title = _.Account.Registration;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p>@Html.Format(_.Account.RegisterUnknownExternal_p2, @Model.ProviderName, @Model.ProviderUserName)</p>
  
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()
  <input type="hidden" name="ProviderName" value="@Model.ProviderName" />
  <input type="hidden" name="ProviderUserName" value="@Model.ProviderUserName" />
  <input type="hidden" name="ExternalLoginData" value="@Model.ExternalLoginData" />
  <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

  <fieldset>
    <legend>@_.Account.CreateNewAccount</legend>
    <ol class="form inputs">
      <li>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
      </li>
      <li>
        @Html.LabelFor(m => m.EMail)
        @Html.TextBoxFor(m => m.EMail)
      </li>
      <li>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
      </li>
      <li>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
      </li>
    </ol>
    <ol class="form buttons">
      <li><input type="submit" name="IsRegister" value="@_.Account.Register" /></li>
    </ol>
  </fieldset>
}

@*    
@using (Html.BeginForm("RegisterExternalLogin", "Manage"))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()
  <input type="hidden" name="ProviderName" value="@Model.ProviderName" />
  <input type="hidden" name="ProviderUserName" value="@Model.ProviderUserName" />
  <input type="hidden" name="ExternalLoginData" value="@Model.ExternalLoginData" />
  <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
  
  <fieldset>
    <legend>@_.Account.LoginUsingExistingAccount</legend>
    <ol class="form inputs">
      <li>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
      </li>
      <li>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
      </li>
    </ol>
    <ol class="form buttons">
      <li><input type="submit" name="IsLogin" value="@_.Account.Log_in" /></li>
    </ol>
  </fieldset>
}
*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@Html.AutoFocusFor(m => m.UserName)