@model Xyperico.Authentication.Web.Areas.Account.Models.RegisterExternalModel
@using Xyperico.Web.Mvc.Html
@{
  ViewBag.Title = _.Account.Registration;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@_.Account.CreateNewAccount</h2>
</hgroup>

@using (Html.BeginForm("RegisterExternal", "Manage")) {
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()
  <input type="hidden" name="ProviderName" value="@Model.ProviderName" />
  <input type="hidden" name="ProviderUserName" value="@Model.ProviderUserName" />
  <input type="hidden" name="ExternalLoginData" value="@Model.ExternalLoginData" />
  <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

  <fieldset>
    @if (Model.ExternalLoginData != null)
    {
      <p>@Html.Format(_.Account.SuccessfullExternalAuthentication_p2, @Model.ProviderName, @Model.ProviderUserName)</p>
    }
    <ol class="form inputs">
      <li>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
      </li>
      <li>
        @Html.LabelFor(m => m.EMail)
        @Html.TextBoxFor(m => m.EMail)
      </li>
    </ol>
    <ol class="form buttons">
      <li><input type="submit" value="@_.Account.Register" /></li>
    </ol>
  </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@Html.AutoFocusFor(m => m.UserName)